In [1]:
#import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import time
import datetime
#import selenium
#import webdriver

In [2]:
# WINDOWS/PC - Import splinter and set the cromedriver path
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# MAC - Import splinter and set the cromedriver path
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

# Scraping Website for Top 10 Tea Brands

In [3]:
teas = []
rankings = []
description = []
details = []
price_ls = []

In [4]:
# Scaping for the Top 10 Brands
url = f"https://topbestbrands.com/best-tea-brands/"
browser.visit(url)
time.sleep(1)
html = browser.html
soup = bs(html, "html.parser")  #same as soup = bs(page.txt, 'html.parser') 
page = soup.find(class_="entry-content")
brandnames = page.find_all("h2")
#print(brandnames)
        
for b in brandnames:
    print(b.text)
    rankings.append(b.text.split(".")[0])
    teas.append(b.text.split(".")[1])

10. Vahadam High Mountain Oolong Tea
9. TEAki Hut Organic Matcha Tea
8. Matcha Organics
7. Baetea
6. Yogi Caramel Apple Spice
5. Yogi Green Tea Blueberry
4. Pure Tea Teatox
3. Yogi Teas Detox
2. Hyleys
1. Masala Chai Oolong tea

In [24]:
name_df = pd.DataFrame([rankings, teas]).T
name_df

    0                                  1
0  10   Vahadam High Mountain Oolong Tea
1   9       TEAki Hut Organic Matcha Tea
2   8                    Matcha Organics
3   7                             Baetea
4   6           Yogi Caramel Apple Spice
5   5           Yogi Green Tea Blueberry
6   4                    Pure Tea Teatox
7   3                    Yogi Teas Detox
8   2                             Hyleys
9   1             Masala Chai Oolong tea

In [35]:
# Scrape for description
description = []
for paragraph in page.find_all('p'):
    for span in paragraph.find_all('span'):
        span.decompose()
    #print(paragraph.text)
    if paragraph.text != "" and paragraph.text != "\n":
        description.append(paragraph.text)

description_df = pd.DataFrame([description]).T
description_df.drop([0,11], axis=0)

                                                    0
1   This is a delicious loose leaf tea that has a ...
2   This brand has no additives, and it aids in in...
3   Boost calorie burning with this great tasting ...
4   Getting a flat tummy and the desired figure th...
5   Maintain an active lifestyle with this item wh...
6   Suppress your appetite with this product that ...
7   This cleansing tea has been enriched with frui...
8   If you are looking for non-caffeinated product...
9   This tea works as a gentle laxative so that yo...
10  This high quality product is provided with mea...

In [28]:
name_df["description"] = description_df.iloc[0:]
name_df

,0,1,description
0,10,Vahadam High Mountain Oolong Tea,Teas brands are loved by many people and there...
1,9,TEAki Hut Organic Matcha Tea,This is a delicious loose leaf tea that has a ...
2,8,Matcha Organics,"This brand has no additives, and it aids in in..."
3,7,Baetea,Boost calorie burning with this great tasting ...
4,6,Yogi Caramel Apple Spice,Getting a flat tummy and the desired figure th...
5,5,Yogi Green Tea Blueberry,Maintain an active lifestyle with this item wh...
6,4,Pure Tea Teatox,Suppress your appetite with this product that ...
7,3,Yogi Teas Detox,This cleansing tea has been enriched with frui...
8,2,Hyleys,If you are looking for non-caffeinated product...
9,1,Masala Chai Oolong tea,This tea works as a gentle laxative so that yo...

In [23]:
# Scraping Amazon for About Information and Prices

price_ls = []

price = page.tbody.find_all('span', class_="aat-product-price aat-product-price-current")
#print(price)
for p in price:
    print(p.text)
    price_ls.append(p.text)

price_df = pd.DataFrame(price_ls)
price_df

$14.99
$6.95
$19.95
$24.95
$23.88
$23.88
$5.99

        0
0  $14.99
1   $6.95
2  $19.95
3  $24.95
4  $23.88
5  $23.88
6   $5.99

# Scraping the Most Expensive Teas

In [94]:
# Scaping for the Top 10 Brands
exp_teabrand = []
exp_reason = []

url = f"https://tea-culture.net/best-luxury-tea-brands/#best-luxury-tea-brand-comparison-table"
browser.visit(url)
time.sleep(1)
html = browser.html
exp_soup = bs(html, "html.parser")  #same as soup = bs(page.txt, 'html.parser') 
#page2 = exp_soup.find_all('div', class_="post_header single")
page2 = exp_soup.ol.find_all('li')
for t in page2:
    print(t.text)
    exp_teabrand.append(t.text.split(" – ")[0])
    exp_reason.append(t.text.split(" – ")[1])
exp_tea_df = pd.DataFrame([exp_teabrand, exp_reason]).T
exp_tea_df

Da Hong Pao (Big Red Robe) – This tea can fetch as much as $1,200 for a single gram! At a price of 1.2 million for each kilogram, original Da Hong Pao is worth much more than it’s weight in gold. Da Hong Pao is heavily oxidized Oolong tea grown in the Wuyi mountains of China’s Fujian province. The most expensive varieties are harvested from tea bushes that have been there since the Song dynasty (960-1279 AD) and are under constant surveillance by armed guards. Cheaper varieties of this tea can be bough for much more affordable prices.
PG Tips Diamond Tea Bag – This tea bag is literally encrusted in diamonds – 280 to be exact. At $15,000 per bag, this is the ultimate statement of luxury. It is sold only at Harrod’s tea store in London. Read more about it here.
Narcissus Wuyi Oolong – Similar to Da Hong Pao, Narcissus oolong grows in the Wuyi Mountains of China. Vintage varieties go for as much as $6,500 per kilogram.
Tieguanyin/Ti Kuan Yin (Iron Goddess) – Another Chinese oolong grown in Fujian Province. This rich oolong can be brewed many times over without loosing its flavor and sells for $3,000 per kilogram, although there are more affordable varieties.
Yellow Gold Tea Buds – Young buds are clipped from the tea bush once a year and are then sprayed or dusted with real gold. This tea is safe to consume but is not safe for the wallet, selling for $3,000 per kilogram. TWG actually has some available if you’re interested. Check it out here.

,0,1
0,Da Hong Pao (Big Red Robe),"This tea can fetch as much as $1,200 for a sin..."
1,PG Tips Diamond Tea Bag,This tea bag is literally encrusted in diamonds
2,Narcissus Wuyi Oolong,"Similar to Da Hong Pao, Narcissus oolong grows..."
3,Tieguanyin/Ti Kuan Yin (Iron Goddess),Another Chinese oolong grown in Fujian Provinc...
4,Yellow Gold Tea Buds,Young buds are clipped from the tea bush once ...

In [ ]:
# FUN FACTS

In [135]:
url = f"https://teatropolitan.wordpress.com/category/did-you-know/"
browser.visit(url)
time.sleep(1)
html = browser.html
fun_soup = bs(html, "html.parser")  #same as soup = bs(page.txt, 'html.parser') 
page3 = fun_soup.find_all('div', class_='post-1287')
#fun_entry = page3.find('div', class_='entry')
#print(fun_entry)

In [ ]:
# Harvest Locations
# Manufacturing Process
# Health Claims
# Average Price
# Consumer Reviews
# Brew Process
# Caffine Levels

# Two Methods of Scraping Tables

# First method
#table = soup.find('table')
#table_rows = table.find_all('tr')
#print(table_rows)

#for tr in table_rows:
    #td = tr.find_all ('td')
    #row = [i.text for i in td]
    #print(row)
    
# Second method - easier    
#dfs = pd.read_html(f"https://topbestbrands.com/best-tea-brands/")
#for df in dfs:
    #print(df)

# ETL SAMPLE CODE

In [ ]:
combined = pd.merge(df, brands, on="Top 10 Teas URL (https://topbestbrands.com/best-tea-brands/)")
#combined = combined.drop(["Subreddit URL (https://www.reddit.com/r/)"], axis=1)
combined.head(32)

In [ ]:
combined.to_csv("TeamsSubs.csv", index=False, header=True)

# Scraping Team Values

In [ ]:
values_url = "https://www.reddit.com/r/nfl/comments/9hflml/forbes_nfl_2018_team_valuations_most_valuable/"

In [ ]:
tables = pd.read_html(values_url)
tables

In [ ]:
values_df = tables[0]
values_df.columns = ["Team", "Value ($B)", "Revenue ($M)", "Operating Income ($M)"]

In [ ]:
values_combined = pd.merge(combined, values_df, on="Team")
values_combined.head(32)

In [ ]:
values_combined.to_csv("TeamsSubsValues.csv", index=False, header=True)

# Scraping City Populations

In [ ]:
cities = values_combined["Real City"].tolist()
cities

In [ ]:
cities = [item.replace(", ", "-") for item in cities]
cities = [item.replace("New York City", "New York") for item in cities]
cities = [item.replace(" ", "-") for item in cities]
cities = [item.replace("Nashville-Tennessee", "Nashville-Davidson-Tennessee") for item in cities]
cities = [item.replace("Washington-DC", "Washington-District-of-Columbia") for item in cities]
cities_urls = [item + ".html" for item in cities]
cities_urls

In [ ]:
values_combined['City URL'] = pd.Series(cities_urls)
values_combined.head(32)

In [ ]:
populations = []

for city in cities_urls:
    pop_url = f"http://www.city-data.com/city/{city}"
    browser.visit(pop_url)
    time.sleep(1)
    pop_html = browser.html
    pop_soup = bs(pop_html, "html.parser")
    population = int(float(pop_soup.find("section", class_="city-population").text.split(":")[1].strip().replace(",","")))
    pop_dictionary = {"City URL":city, "Population (2016)":population}
    populations.append(pop_dictionary)

In [ ]:
pop_df = pd.DataFrame(populations)
values_pop_df = pd.merge(values_combined, pop_df, on="City URL")
values_pop_df = values_pop_df.drop(["City URL"], axis=1)
values_pop_df = values_pop_df.drop([21, 23, 28, 30])
values_pop_df = values_pop_df.reset_index()
values_pop_df.head(32)

In [ ]:
values_pop_df.to_csv("TeamsSubsValuesPops.csv", index=False, header=True)

# Scraping Team Ages

In [ ]:
ages_url = "https://en.wikipedia.org/wiki/National_Football_League"

In [ ]:
ages_tables = pd.read_html(ages_url)
ages_tables

In [ ]:
ages_df = ages_tables[2]
ages_df = ages_df[["Club[57]", 'First season[59]']]
ages_df.columns = ["Team", "Founded"]
years = ages_df["Founded"].tolist()
years = [item[:4] for item in years]
del years[16]
years = years[:-1]
years = [int(item) for item in years]

In [ ]:
teams = ages_df["Team"].tolist()
del teams[16]
del teams[32]

In [ ]:
cleanteams = []

for foo in teams:
    try:
        team = foo.split("*")[0]
        cleanteams.append(team)
    except:
        cleanteams.append(foo)

In [ ]:
teamages = []
currentyear = datetime.date.today().year

for x in years:
    teamage = currentyear - x
    teamages.append(teamage)

In [ ]:
ages_df = pd.DataFrame({
    "Team": cleanteams,
    "Team Age": teamages
})

In [ ]:
ages_df.head(32)

In [ ]:
final_df = pd.merge(values_pop_df, ages_df, on="Team")
final_df = final_df.drop(["index"], axis=1)
final_df.head(32)

In [ ]:
final_df.to_csv("TeamsSubsValuesPopsAges.csv", index=False, header=True)

# Loading to AWS DB

In [ ]:
from sqlalchemy import create_engine
from config import remote_db_endpoint, remote_db_port
from config import remote_gwsis_dbname, remote_gwsis_dbuser, remote_gwsis_dbpwd
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()
# endpoint: gwda-etl-project.c2supt4qfmve.us-east-2.rds.amazonaws.com

In [ ]:
engine = create_engine(f"mysql://{remote_gwsis_dbuser}:{remote_gwsis_dbpwd}@{remote_db_endpoint}:{remote_db_port}/{remote_gwsis_dbname}")
conn = engine.connect()

In [ ]:
team_df = pd.read_csv("Teams.csv")
teams_load = team_df
teams_load.to_sql(name='Teams', if_exists='append', con=conn, chunksize=500, index=False)

In [ ]:
subs_df = pd.read_csv("TeamsSubs.csv")
subs_load = subs_df
subs_load.to_sql(name='Subscribers', if_exists='append', con=conn, chunksize=500, index=False)

In [ ]:
values_df = pd.read_csv("TeamsSubsValues.csv")
values_load = values_df
values_load.to_sql(name='Valuations', if_exists='append', con=conn, chunksize=500, index=False)

In [ ]:
pops_df = pd.read_csv("TeamsSubsValuesPops.csv")
pops_load = pops_df
pops_load.to_sql(name='Populations', if_exists='append', con=conn, chunksize=500, index=False)

In [ ]:
final_df = pd.read_csv("TeamsSubsValuesPopsAges.csv")
final_load = final_df
final_load.to_sql(name='Final', if_exists='append', con=conn, chunksize=500, index=False)

# Loading to Salesforce

In [ ]:
import requests
import base64
from base64 import b64encode 
import json
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import pandas as pd

from config import remote_db_endpoint, remote_db_port
from config import remote_gwsis_dbname, remote_gwsis_dbuser, remote_gwsis_dbpwd

from config import sf_grant_type, sf_client_id, sf_client_secret, sf_username, sf_password, sf_endpoint

In [ ]:
params = {
    "grant_type": sf_grant_type,
    "client_id": sf_client_id, # Consumer Key
    "client_secret": sf_client_secret, # Consumer Secret
    "username": sf_username, # The email you use to login
    "password": sf_password # Concat your password and your security token
}

r = requests.post(sf_endpoint, params=params)
access_token = r.json().get("access_token")
instance_url = r.json().get("instance_url")
print("Access Token:", access_token)
print("Instance URL", instance_url)

In [ ]:
def sf_api_call(action, parameters = {}, method = "get", data = {}):
    # Helper function to make calls to Salesforce REST API.
    # Parameters: action (the URL), URL params, method (get, post or patch),
    # data for POST/PATCH.
    headers = {
        'Content-type': 'application/json',
        'Accept-Encoding': 'gzip',
        'Authorization': 'Bearer %s' % access_token
    }
    if method == 'get':
        r = requests.request(method, instance_url+action, headers=headers, params=parameters)
    elif method in ['post', 'patch']:
        r = requests.request(method, instance_url+action, headers=headers, json=data, params=parameters)
    else:
        # other methods not implemented in this example
        raise ValueError('Method should be get or post or patch.')
    print('Debug: API %s call: %s' % (method, r.url) )
    if r.status_code < 300:
        if method=='patch':
            return None
        else:
            return r.json()
    else:
        raise Exception('API error when calling %s : %s' % (r.url, r.content))

In [ ]:
engine = create_engine(f"mysql://{remote_gwsis_dbuser}:{remote_gwsis_dbpwd}@{remote_db_endpoint}:{remote_db_port}/{remote_gwsis_dbname}")
conn = engine.connect()

In [ ]:
NFL_data = pd.read_sql("SELECT * FROM Final", conn)
NFL_data.head(32)

In [ ]:
for index, row in NFL_data.iterrows():
    call = sf_api_call('/services/data/v40.0/sobjects/NFL_Data__c/', method="post", data={
        'Subscribers__c': row['Subs'],
        'Team__c': row['Team'],
        'Stadium_City__c': row['Stadium City'],
        'Real_City__c': row['Real City'],
        'Value_B__c': row['Value ($B)'],
        'Revenue_M__c': row['Revenue ($M)'],
        'Operating_Income_M__c': row['Operating Income ($M)'],
        'Population_2016__c': row['Population (2016)'],
        'Team_Age__c': row['Team Age']
    })